@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

/* 新增 Markdown 基本样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

pre {
  border: 0.5px solid #b5b5b599;
  border-radius: 5px;
}

code {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
/* 表格样式 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
/* 新增引用样式 */
blockquote {
  border-left: 4px solid #e0e0e0;
  padding-left: 1em;
  margin-left: 0;
  color: #666;
  font-style: italic;
}
/* Markdown 引用样式 */
a {
  text-decoration: underline;
  color: #72c4ff;
}

.ant-form-item {
  margin-bottom: 1rem !important; /* 1rem = 16px，即 mb-4 的语义 */
}
